/*botões*/

.botao-atualizar-verde{
    background-color: green;
    padding: 10px 20px; 
    display: inline-block; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 8px; 
}


.botao-excluir-vermelho{
    background-color: red;
    padding: 10px 20px;
    display: inlne-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}


.botao-pagina-obra{
    background-color: grey;
    padding: 10px 20px;
    display: inlne-block;
    margin: 4px 2px;
    cursor: pointer;
}


/* posicionamento de poster e título do filme*/


.obra-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}
.obra-titulo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}
.obra-poster {
    width: 200px;
    height: 150px;
}