<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar série</title>
</head>
<body>

    <form action="{{ url_for('cadastro_series') }}" method="post" enctype="multipart/form-data">

        <label for="titulo">Título</label><br>
        <input type="text" name="titulo" id="titulo" placeholder="titulo" required><br>

        <label for="sinopse">Sinopse</label><br>
        <textarea name="sinopse" id="sinopse" placeholder="sinopse" rows="16" cols="100" required></textarea><br>

        <label for="ano_lancamento">Ano de lançamento</label><br>
        <input type="number" name="ano_lancamento" id="ano_lancamento" placeholder="ex: 2010" required><br>

        <label for="genero">Gênero:</label><br>
        <input type="text" name="genero" id="genero" placeholder="deixar os gêneros separados por vírgula. Ex: ação, aventura, comédia." required><br>

        <label for="numero_episodios">Número de episódios</label><br>
        <input type="number" name="numero_episodios" id="numero_episodios" placeholder="ex: 10" required><br>

        <label for="numero_temporadas">Número de temporadas</label><br>

        <input type="number" name="numero_temporadas" id="numero_temporadas" placeholder="ex: 3" required><br>

        <label for="average_rate">Nota média</label><br>
        <input type="number" id="average_rate" name="average_rate" placeholder="ex: 8.5" required><br>

        <label for="popularidade">Popularidade</label><br>
        <input type="text" id="popularidade" name="popularidade" placeholder="ex: 7" required><br>

        <label for="classificacao">Classificação:</label><br>
        <select name="classificacao" id="classificacao" required>
            <option value="" disabled selected>Selecione uma opção</option>
            <option value="10 anos">10 anos</option>
            <option value="12 anos">12 anos</option>
            <option value="14 anos">14 anos</option>
            <option value="16 anos">16 anos</option>
            <option value="18 anos">18 anos</option>
        </select><br>

        <label for="duracao">Duração</label><br>
        <input type="number" id="duracao" name="duracao" placeholder="em minutos" required><br>

        <label for="poster">Poster</label><br>
        <input type="text" id="poster" name="poster"><br>

        <label for="link_trailer">Link do trailer:</label><br>
        <input type="url" id="link_trailer" name="link_trailer"><br>

        <label for="diretores">Diretores:</label><br>
        <input type="text" name="diretores" id="diretores" placeholder="separar os diretores por vírgula caso haja mais de um. Ex: fulano de tal, ciclano de tal, beltano de tal." required><br>

        <label for="elenco">Elenco:</label><br>
        <input type="text" name="elenco" id="elenco" placeholder="deixar elenco separado por vírgula. Ex: fulano de tal, ciclano de tal, beltano de tal." required><br>

        <input type="submit" value="adicionar">
    </form>

</body>
</html>
