<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>séries</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>

    <a href="/"><button>home</button></a>

    <h1>Página séries</h1>

    <hr>

    <a href="{{ url_for('cadastrar_serie') }}"><button>adicionar</button></a>
    <a href="{{ url_for('listar_series')}}"><button>visualizar</button></a>
    
 
    

    
</body>
</html>