<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de séries</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/obras/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script> 

</head>
<body>

    <a href="/"><button>home</button></a>
    <a href="/series"><button>voltar</button></a>

    <h1>Lista de Séries</h1>

    <!--pesquisar por obras-->
    <form method="GET" action="{{ url_for('listar_series') }}">

        <input type="text" name="pesquisa_por_titulo"  id="pesquisa_por_titulo">
        <button type="submit">pesquisar</button>

    </form>
    

    {% for serie in series %}


        <table border="1">

            <tr>

                <td>Série</td>
                <td>Atualizar</td>
                <td>Excluir</td>

            </tr>


            <tr>
        
                <td><a href="/serie/{{ serie.id }}"><button class="botao-pagina-obra">{{ serie.titulo }}</button></a></td>
                <td><a href="/serie/atualizar/{{ serie.id }}"><button class="botao-atualizar-verde"></button></a></td>
                <td>

                    <form action="/serie/excluir/{{ serie.id }}" method="POST" onsubmit="return confirmar_exclusao();">
                    <button type="submit" class="botao-excluir-vermelho"></button><br>

                    </form></td>

               

            </tr>



        </table>


    {% endfor %}
        
    

</body>
</html>
