<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p>{{ serie.titulo }}</p>
    <img src="{{ serie.poster }}" style="width: 200px; height: 150px;">

    <p>Sinopse: {{ serie.sinopse }}</p>

    <p>Ano de lançamento: {{ serie.ano_lancamento }}</p>

    <p>Gêneros: {{ serie.genero }}.</p>

    <p>Episódios: {{ serie.numero_episodios }}</p>

    <p>Temporadas: {{ serie.numero_temporadas }}</p>

    <p>Nota média: {{ serie.average_rate }}</p>

    <p>Popularidade: #{{ serie.popularidade }}</p>

    <p>Classificação: {{ serie.classificacao }}</p>

    <p>Duração: {{serie.duracao }} minutos</p>

    <p>Trailer: {{serie.link_trailer }}</p>

    <p>Diretor: {{serie.diretor }}</p>

    <p>Elenco: {{serie.elenco }}</p>


    <a href="#">Comentar</a>
    <a href="#">Avaliar</a>

        
    
</body>
</html>