<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar filme</title>
</head>
<body>

    <form action="{{ url_for('listar_filmes') }}" method="post" enctype="multipart/form-data">

        <label for="titulo">Título</label><br>

        <input type="text" name="titulo" id="titulo" placeholder="titulo" required><br>

        <label for="sinopse">Sinopse</label><br>

        <textarea name="sinopse" id="sinopse" placeholder="sinopse" rows="16" cols="100" required></textarea><br>

        <label for="ano lançamento">Ano de lançamento</label><br>

        <input type="text" name="ano de lançamento" id="ano de lançamento" placeholder="ex: 2010" required><br>

        <label for="average rate">Nota média</label><br>

        <input type="number" id="average rate" name="average rate" placeholder="ex: 8.5"><br>

        <label for="popularidade">Popularidade</label><br>

        <input type="text" id="popularidade" name="popularidade" placeholder="ex: #7"><br>

       
        <label for="classificacao">Classificação:</label><br>
    
        <select name="classificação" id="classificação" required>
            <option value="" disabled selected>Selecione uma opção</option>
            <option value="10 anos">10 anos</option>
            <option value="12 anos">12 anos</option>
            <option value="14 anos">14 anos</option>
            <option value="16 anos">16 anos</option>
            <option value="18 anos">18 anos</option>
        </select><br>

        <label for="duração">Duração</label><br>

        <input type="number" id="duração" name="duração" placeholder="em minutos" required><br>

        <label for="poster">Poster</label><br>

        <input type="file" id="poster" name="poster" accept="image/*" required><br>

        <label for="url">Link do trailer:</label><br>

        <input type="url" id="link do trailer" name="link do trailer">




    </form>




    
</body>
</html>