<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Filmes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/obras/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>

    <a href="/"><button>Home</button></a>
    <a href="/filmes"><button>Voltar</button></a><br><br>

    <h1>Lista de Filmes</h1>

    <!--pesquisar por obras-->
    <form method="GET" action="{{ url_for('listar_filmes') }}">
        <input type="text" name="pesquisa_por_titulo" id="pesquisa_por_titulo">
        <button type="submit">Pesquisar</button><br><br>
    </form>
    
    {% for filme in filmes %}
        <table border="1">
            <tr>
                <td>Filme</td>
                <td>Atualizar</td>
                <td>Excluir</td>
            </tr>
            <tr>
                <td><a href="/filme/{{ filme.id }}"><button class="botao-pagina-obra">{{ filme.titulo }}</button></a></td>
                <td><a href="/filme/atualizar/{{ filme.id }}"><button class="botao-atualizar-verde"></button></a></td>
                <td>
                    <form action="/filme/excluir/{{ filme.id }}" method="POST" onsubmit="return confirmar_exclusao();">
                        <button type="submit" class="botao-excluir-vermelho"></button>
                    </form>
                </td>
            </tr>
        </table>
    {% endfor %}
</body>
</html>
