<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p>{{ filme.titulo }}</p>
    <img src="{{ filme.poster }}" style="width: 200px; height: 150px;">

    <p>Sinopse: {{ filme.sinopse }}</p>

    <p>Ano de lançamento: {{ filme.ano_lancamento }}</p>

    <p>Gêneros: {{ filme.genero }}.</p>

    <p>Nota média: {{ filme.average_rate }}</p>

    <p>Popularidade: #{{ filme.popularidade }}</p>

    <p>Classificação: {{ filme.classificacao }}</p>

    <p>Duração: {{filme.duracao }} minutos</p>

    <p>Trailer: {{filme.link_trailer }}</p>

    <p>Diretor: {{filme.diretor }}</p>

    <p>Elenco: {{filme.elenco }}</p>

    <a href= "#">Comentar</a>

    <a href="#"><button>Avaliar</button></a>


    

        
    
</body>
</html>