<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de usuários</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/USRs-ADMs/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>

    <a href="/"><button>home</button></a>
    <a href="/usuarios"><button>voltar</button></a><br><br>

    <!--Pesquisa por usuários-->
    <form method="GET" action="{{ url_for('listar_usuarios') }}">

        <input type="text" name="pesquisa_por_usuario"  id="pesquisa_por_usuario">
        <button type="submit">pesquisar</button>

    </form><br><br>

    <table border="1">

        <tr>
            <td>id</td>
            <td>perfil</td>
            <td>email</td>
            <td>senha</td>
            <td>data de nascimento</td>
            <td>gênero</td>
            <td>atualizar</td>
            <td>Excluir</td>
            
        </tr>


        {% for usuario in usuarios %}

        <tr>

            <td>{{ usuario.id }}</td>
            <td><a href="/usuarios/perfil/{{ usuario.username }}"><button class="botao-perfil-usuario">{{ usuario.username }}</button></a></td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.senha }}</td>
            <td>{{ usuario.data_nascimento }}</td>
            <td>{{ usuario.genero }}</td>
            <td><a href="/usuarios/atualizar/{{ usuario.id }}"><button class="botao-atualizar-verde"></button></a></td>
            <td>

                <form action="/usuarios/excluir/{{ usuario.id }}" method="POST" onsubmit="return confirmar_exclusao();">
                <button type="submit" class="botao-excluir-vermelho"></button><br>

                </form>
            </td>

        </tr>

        {% endfor %}
    </table>
    
</body>
</html>