<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de usuários</title>
</head>
<body>


    <a href="/usuarios"><button>Home</button></a><br><br>

    <table border="1">

        <tr>
            <td>id</td>
            <td>username</td>
            <td>email</td>
            <td>senha</td>
            <td>data de nascimento</td>
            <td>gênero</td>
            <td>atualizar</td>
            <td>Excluir</td>
            
        </tr>


        {% for usuario in usuarios %}

        <tr>

            <td>{{ usuario.id }}</td>
            <td><a href="/usuarios/perfil/{{ usuario.username }}">{{ usuario.username }}</a></td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.senha }}</td>
            <td>{{ usuario.data_nascimento }}</td>
            <td>{{ usuario.genero }}</td>
            <td><a href="/usuarios/atualizar/{{ usuario.id }}"><button>Atualizar</button></a></td>
            <td><a href="/usuarios/excluir/{{ usuario.id }}"><button>X</button></a></td>

        </tr>

        {% endfor %}
    </table>
    
</body>
</html>